<html>
    <head>
        <meta charset="UTF-8">

          <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
        {% block stylesheets %}{% endblock %}
    </head>
{% block body %}
  
<div class="container">
        <div class="row">
            <div class="panel panel-primary filterable">          

 
        <p><img src="{{path ~ asset('bundles/dist/img/logoldk.jpg') }}" height=120, width=300 >&nbsp;&nbsp; 
         
<h2 color="blue" align="right" > <strong>BON DE LIVRAISON</strong></h2></p>

          </div>
        </div>
  </div>
&ensp;&ensp;&ensp;&ensp;

<div class="row" align="center">
    <p><h2><Strong> Docteur: 
          {% for bo in bonli %}
              {{bo.dentiste.nomComplet}}</br>

                        {{bo.dentiste.adresse}}</br>
                        {{bo.dentiste.cabinet}}              
           {% endfor %}     
    </Strong></h2></p>    
</div>


  
<div class="container">
        <div class="row">
            <div class="panel panel-primary filterable">          
<table class="table">
    <thead>
      <tr>
        <th text-align:"center">Numéro</th>
        <th text-align:"center">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for bo in bonli %}    
      <tr>
          <td>LDKNBLI{{bo.id}}</td>
          <td>{{bo.creationAt()|date('d/m/y') }}</td>
                  
      </tr>
      {% endfor %}
    </tbody>
  </table>
            </div>
    </div>
  </div>
    
&ensp;&ensp;
    


  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for bo in bonli %}    
      <tr>
        <td>{{bo.designation}} </br> {{bo.designation2}} </br> {{bo.designation3}}</br> {{bo.designation4}} </td>        
        <td>{{bo.quantite}} </br> {{bo.quantite2}}</br> {{bo.quantite3}}</br> {{bo.quantite4}} </br></td>
        <td>{{bo.prix}} </br> {{bo.prix2}}</br> {{bo.prix3}}</br> {{bo.prix4}} </br></td>
        <td>{{bo.somme}} </br> {{bo.somme2}}</br>{{bo.somme3}}</br>{{bo.somme4}} </br></td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <table class="table" style="width:50%" align="right">
    <tr>
        <th>Total</th>
<td>{% for bo in bonli %} Montant : {{bo.somme+bo.somme2 +bo.somme3+bo.somme4}} {% endfor %}</td>
   </tr>
  </table>
          </div>
    </div>
  </div>

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
     
    </div>
    <!-- Default to the left -->
    <p align="center"> Bon pour acceptation de confirmité </br> Garantie 1 an contre des defauts de fabrication</strong> tout droit reservé.
  </footer>
{% endblock %}

 </body>


</html>