{% extends 'layoute.html.twig' %}

{% block title %}Bon de Livraison{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Editer un bon de livraison  ✅</h1>
    {{ form_start(form) }}
		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.designation) }}</div>
		    	<div class="col-md-4">{{ form_row(form.quantite) }}</div>
		    	<div class="col-md-4">{{ form_row(form.prix) }}</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.designation_2) }}</div>
		    	<div class="col-md-4">{{ form_row(form.quantite_2) }}</div>
		    	<div class="col-md-4">{{ form_row(form.prix_2) }}</div>	
		    </div>

		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.designation_3) }}</div>
		    	<div class="col-md-4">{{ form_row(form.quantite_3) }}</div>
		    	<div class="col-md-4">{{ form_row(form.prix_3) }}</div>	
		    </div>

		    <div class="row">
		    	<div class="col-md-4">{{ form_row(form.designation_4) }}</div>
		    	<div class="col-md-4">{{ form_row(form.quantite_4) }}</div>
		    	<div class="col-md-4">{{ form_row(form.prix_4) }}</div>	
		    </div>
    {{ form_widget(form) }}
    <button class="btn btn-primary"> Generer bon de livraison </button>
    {{ form_end(form) }}
</div>
{% endblock %}
